includeConfig "../../nextflow.config"

profiles {
  modules {}

  test {
    params {
      starIndexDir = "/net/seq/data/genomes/human/GRCh38/noalts/STARgenome-gencode-v25/"
    }
  }


  // Uncomment this to send STAR alignments to the 'bigmem' queue and give them extra memory
  // cluster {
  //   process {
  //     withName: star {
  //       queue = 'bigmem'
  //       memory = { 96.GB * (2**(task.attempt - 1)) }
  //       scratch = false
  //     }
  //   }
  // }
}
