includeConfig "../../nextflow.config"

process {
  // Configure publishing directives

  // Convention: All files are saved under ${params.outdir}/${meta.name}

  // merged fastq is published (for now)
  withName : "merge_fq" {
    publishDir = [
      path: { params.outdir },
      mode: "link",
      saveAs: { f -> f.replace("_R","/R") }  // okay this feels really fragile.
    ]
  }

  // Rename cram files to match the input
  // Uses the 'meta.name' value inside the process
  withName: "sort_and_encode_cram" {
    publishDir = [
      path: { params.outdir },
      mode: "link",
      saveAs: { f -> "${meta.name}/sorted.cram" },
		]
  }

  // StarSOLO
  withName: "align" {
    publishDir = [
      path: { params.outdir },
      mode: "link",
      saveAs: { f -> f == "Solo.out" ? "${meta.name}/Solo.out" : null }
    ]
  }

  // StarSOLO analysis
  withName: "analyze_solo_dir" {
    publishDir = [
      path: { params.outdir },
      mode: "link",
      saveAs: { f -> f == "output" ? "${meta.name}/analysis" : null }
    ]
  }
}

profiles {
  modules {
    process {
      withName: ".*:BCL2DEMUX:bcl2fastq.*" {
        module = "bcl2fastq2/2.20.0.422"
      }
    }
  }
}
