includeConfig "../../nextflow.config"

process {
  // Configure publishing directives

  // merged fastq is published (for now)
  withName : "merge_fq" {
    publishDir = [
      path: { params.outdir },
      mode: "link",
    ]
  }

  // Rename cram files to match the input
  // Uses the 'meta.name' value inside the process
  withName: "sort_and_encode_cram" {
    publishDir = [
      path: { params.outdir },
      mode: "link",
      saveAs: { f -> "${meta.name}.sorted.cram" },
		]
  }
}

profiles {
  modules {
    process {
      withName: ".*:BCL2DEMUX:bcl2fastq.*" {
        module = "bcl2fastq2/2.20.0.422"
      }
    }
  }
}
